@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 100%;
    font-family: '';
}

.container {
    max-width: 700px;
    width: 100%;
    padding: 25px;
    border-radius: 5px;
    /* background: #25282a; */
    color: #25282a;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    color: #25282a;
}

.container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(123deg, #71b8e7, #25282a);
}

.container form .user_details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
}

form .user_details .input_pox {
    margin-bottom: 15px;
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}

form .input_pox select {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    background: #25282a;
    color: #fff;
}

.user_details .input_pox .datails {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user_details .input_pox input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    background: #25282a;
    color: #fff;
}

.uploadfile {
    border: 1px solid #ccc;
}

.uploadfile input {
    font-size: 16px;
    height: 45px;
    padding: 10px;
}

.user_details .input_pox input:focus {
    border-color: #f0b3ad !important;
}

.user_details .input_pox input:valid {
    border-color: #c7dbc3;
}

.user_details .input_pox select:focus {
    border-color: #f0b3ad;
}

.user_details .input_pox select:valid {
    border-color: #c7dbc3;
}

form .button {
    height: 45px;
    margin: 45px 0;
}

form .button .btn-register {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(123deg, #71b8e7, #a38888);
    cursor: pointer;
    text-align: center;
}

form .button .btn-register :hover {
    background: linear-gradient(-123deg, #71b8e7, #4a3b50);
}

@media (max-width: 584px) {
    .container {
        max-width: 100%;
        margin: 20px;
    }
    form .user_details .input_pox {
        margin-bottom: 15px;
        width: 100%;
    }
    .user_details::-webkit-scrollber {
        width: 0;
    }
}


/* ============= OTP Page Design ============= */

.otp-input-wrapper {
    width: 100%;
    text-align: left;
    display: inline-block;
    background-color: rgb(223, 212, 212);
    margin: auto;
    padding: 20px;
}

.otp-input-wrapper input {
    padding: 0;
    width: 110%;
    font-size: 32px;
    font-weight: 600;
    color: #4f4949;
    background-color: transparent;
    border: 0;
    letter-spacing: 71px;
    font-family: sans-serif !important;
    margin-left: 69px;
}

.otp-input-wrapper input:focus {
    box-shadow: none;
    outline: none;
}

.otp-input-wrapper svg {
    position: relative;
    display: block;
    width: 240px;
    height: 2px;
    width: 100%;
}

@media (max-width: 584px) {
    .otp-input-wrapper input {
        margin-left: 1px;
        letter-spacing: 28px;
        width: 110%;
    }
}


/* ========== Alert Styling =========== */


/* The alert message box */


/* NOTE: while applying them u can use the class names */

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    font-size: 13px;
}

.alert.success {
    background-color: #04AA6D;
}

.alert.info {
    background-color: #2196F3;
}

.alert.warning {
    background-color: #ff9800;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}